<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <base href="./assets/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Facturas</title>
    <script src="https://kit.fontawesome.com/0fc98ea27d.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-sm-2">
            <div class="sidebar-head">
                <img src="https://staging.bitgamezone.com/images/beta.png" class="sidebar-head-logo" alt="">
            </div>
            <nav class="sidebar-content">
                <ul>
                    <li>
                        <a href="../index.html">
                            <i class="fas fa-home"></i>
                            Plataforma
                        </a>
                    </li>
                    <li>
                        <a href="../categorias.html">
                            <i class="fas fa-chart-bar"></i>
                            Categorías
                        </a>
                    </li>
                    <li>
                        <a href="../solicitud.html">
                            <i class="fas fa-clipboard-check"></i>
                            Solicitud de Productos
                        </a>
                    </li>
                    <li>
                        <a href="../productos.html">
                            <i class="fas fa-box"></i>
                            Productos
                        </a>
                    </li>
                    <li>
                        <a href="../facturas.html">
                            <i class="fas fa-receipt"></i>
                            Facturas
                        </a>
                    </li>
                    <li>
                        <a href="../usuarios.html">
                            <i class="fas fa-user"></i>
                            Usuarios
                        </a>
                    </li>
                    <li>
                        <a href="../soporte.html">
                            <i class="fas fa-comment-alt"></i>
                            Soporte
                        </a>
                    </li>
                    <li>
                        <a href="../banners.html">
                            <i class="fas fa-spinner"></i>
                            Banners
                        </a>
                    </li>
                    <li>
                        <a href="../sliders.html">
                            <i class="fas fa-sliders-h"></i>
                            Sliders
                        </a>
                    </li>
                    <li>
                        <a href="../settings.html">
                            <i class="fas fa-cog"></i>
                            Settings
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="top-bar">

        </div>
        <main class="col-sm-8 offset-md-1">
            <div class="container-fluid main-content">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h2 class="text-black">Facturas</h2>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-12 bg-white py-5 px-4">
                        <div class="row mb-5">
                            <div class="col text-secondary">
                                <h2 >Empresa</h2>
                                <span>Meilbuirne Australia</span>
                                <br>
                                <span>P. (123) 456-789</span>
                            </div>
                            <div class="col text-right text-secondary">
                                <br>
                                <h2>Factura</h2>
                                <button class="btn bg-dark-gray text-white px-5">Print</button>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p>Facturado para</p>
                                <span class="text-secondary">Cliente name</span>
                                <br>
                                <span class="text-secondary">795 foltston Ave, suite 600</span>
                                <br>
                                <span class="text-secondary">San Francisco, CA 94107</span>
                            </div>
                            <div class="col text-right">
                                <div class="mt-4">
                                    <span><strong>Order Date: </strong> March 15 2019</span>
                                    <br>
                                    <span><strong>Order Status: </strong> <span class="badge badge-pill bg-pending px-4 py2">Pending</span></span>
                                    <br>
                                    <span><strong>Order Id: </strong> #1234567</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <table class="table table-borderless table-hover">
                                <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="text-secondary">#</th>
                                    <th scope="col" class="text-secondary">ITEM</th>
                                    <th scope="col" class="text-secondary">DESCRIPTION</th>
                                    <th scope="col" class="text-secondary">QUANTITY</th>
                                    <th scope="col" class="text-secondary">PRICE</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-secondary">1</td>
                                        <td class="text-secondary">Woman Peacoat</td>
                                        <td class="text-secondary">Lorem Ipsum sit amet some text etc etc</td>
                                        <td class="text-secondary">432</td>
                                        <td class="text-secondary">$ 9,928</td>
                                    </tr>
                                    <tr>
                                        <td class="text-secondary">1</td>
                                        <td class="text-secondary">Woman Peacoat</td>
                                        <td class="text-secondary">Lorem Ipsum sit amet some text etc etc</td>
                                        <td class="text-secondary">432</td>
                                        <td class="text-secondary">$ 9,928</td>
                                    </tr>
                                    <tr>
                                        <td class="text-secondary">1</td>
                                        <td class="text-secondary">Woman Peacoat</td>
                                        <td class="text-secondary">Lorem Ipsum sit amet some text etc etc</td>
                                        <td class="text-secondary">432</td>
                                        <td class="text-secondary">$ 9,928</td>
                                    </tr>
                                    <tr>
                                        <td class="text-secondary">1</td>
                                        <td class="text-secondary">Woman Peacoat</td>
                                        <td class="text-secondary">Lorem Ipsum sit amet some text etc etc</td>
                                        <td class="text-secondary">432</td>
                                        <td class="text-secondary">$ 9,928</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-8 offset-md-4 text-right">
                                <span><strong>Sub Total: </strong> 2930.00</span>
                                <br>
                                <span><strong>Discount: </strong> 12.9%</span>
                                <br>
                                <span><strong>VAT: </strong> 12.9%</span>
                                <div class="mt-4">
                                    <h2>$ 2930.00</h2>
                                    <button class="mt-4 btn btn-primary px-5 py-2">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
