<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <base href="./assets/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Usuarios</title>
    <script src="https://kit.fontawesome.com/0fc98ea27d.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-sm-2">
            <div class="sidebar-head">
                <img src="https://staging.bitgamezone.com/images/beta.png" class="sidebar-head-logo" alt="">
            </div>
            <nav class="sidebar-content">
                <ul>
                    <li>
                        <a href="../index.html">
                            <i class="fas fa-home"></i>
                            Plataforma
                        </a>
                    </li>
                    <li>
                        <a href="../categorias.html">
                            <i class="fas fa-chart-bar"></i>
                            Categorías
                        </a>
                    </li>
                    <li>
                        <a href="../solicitud.html">
                            <i class="fas fa-clipboard-check"></i>
                            Solicitud de Productos
                        </a>
                    </li>
                    <li>
                        <a href="../productos.html">
                            <i class="fas fa-box"></i>
                            Productos
                        </a>
                    </li>
                    <li>
                        <a href="../facturas.html">
                            <i class="fas fa-receipt"></i>
                            Facturas
                        </a>
                    </li>
                    <li>
                        <a href="../usuarios.html">
                            <i class="fas fa-user"></i>
                            Usuarios
                        </a>
                    </li>
                    <li>
                        <a href="../soporte.html">
                            <i class="fas fa-comment-alt"></i>
                            Soporte
                        </a>
                    </li>
                    <li>
                        <a href="../banners.html">
                            <i class="fas fa-spinner"></i>
                            Banners
                        </a>
                    </li>
                    <li>
                        <a href="../sliders.html">
                            <i class="fas fa-sliders-h"></i>
                            Sliders
                        </a>
                    </li>
                    <li>
                        <a href="../settings.html">
                            <i class="fas fa-cog"></i>
                            Settings
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="top-bar">

        </div>
        <main class="col-sm-8 offset-md-1">
            <div class="container-fluid main-content">
                <div class="row mb-4">
                    <div class="col">
                        <h2 class="text-black">Usuarios</h2>
                    </div>
                    <div class="col">
                        <div class="card w-100 ">
                            <div class="row p-3 search-user-container">
                                <i class="fas fa-search"></i>
                                <input type="text" placeholder="Search Name" class="search-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="card w-100">
                            <div class="row ">
                                <div class="col-md-3 pl-4 pt-3">
                                    <img src="https://1.bp.blogspot.com/-iDGVEtNx_kU/TbBrkXPEg5I/AAAAAAAABOg/g2h127qVA5c/s320/Bas+Rutten.png" class="avatar-user-img" alt="username">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-black">Username</h5>
                                        <span class="card-text text-secondary"><small>United States</small></span><br>
                                        <span class="card-text text-secondary"><small>Desde 12/12/19</small></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body text-grey d-flex justify-content-between">
                                        <a href="" class="text-secondary"><i class="fas fa-pen"></i></a>
                                        <a href="" class="text-secondary"><span><i class="fas fa-times"></i></span></a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card-footer bg-white text-secondary ">
                                        <div class="offset-md-2 d-flex justify-content-around">
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100 ">
                            <div class="row ">
                                <div class="col-md-3 pl-4 pt-3">
                                    <img src="https://1.bp.blogspot.com/-iDGVEtNx_kU/TbBrkXPEg5I/AAAAAAAABOg/g2h127qVA5c/s320/Bas+Rutten.png" class="avatar-user-img" alt="username">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-black">Username</h5>
                                        <span class="card-text text-secondary"><small>United States</small></span><br>
                                        <span class="card-text text-secondary"><small>Desde 12/12/19</small></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body text-grey d-flex justify-content-between">
                                        <a href="" class="text-secondary"><i class="fas fa-pen"></i></a>
                                        <a href="" class="text-secondary"><span><i class="fas fa-times"></i></span></a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card-footer bg-white text-secondary ">
                                        <div class="offset-md-2 d-flex justify-content-around">
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="card w-100">
                            <div class="row ">
                                <div class="col-md-3 pl-4 pt-3">
                                    <img src="https://1.bp.blogspot.com/-iDGVEtNx_kU/TbBrkXPEg5I/AAAAAAAABOg/g2h127qVA5c/s320/Bas+Rutten.png" class="avatar-user-img" alt="username">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-black">Username</h5>
                                        <span class="card-text text-secondary"><small>United States</small></span><br>
                                        <span class="card-text text-secondary"><small>Desde 12/12/19</small></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body text-grey d-flex justify-content-between">
                                        <a href="" class="text-secondary"><i class="fas fa-pen"></i></a>
                                        <a href="" class="text-secondary"><span><i class="fas fa-times"></i></span></a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card-footer bg-white text-secondary ">
                                        <div class="offset-md-2 d-flex justify-content-around">
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100">
                            <div class="row ">
                                <div class="col-md-3 pl-4 pt-3">
                                    <img src="https://1.bp.blogspot.com/-iDGVEtNx_kU/TbBrkXPEg5I/AAAAAAAABOg/g2h127qVA5c/s320/Bas+Rutten.png" class="avatar-user-img" alt="username">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-black">Username</h5>
                                        <span class="card-text text-secondary"><small>United States</small></span><br>
                                        <span class="card-text text-secondary"><small>Desde 12/12/19</small></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body text-grey d-flex justify-content-between">
                                        <a href="" class="text-secondary"><i class="fas fa-pen"></i></a>
                                        <a href="" class="text-secondary"><span><i class="fas fa-times"></i></span></a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card-footer bg-white text-secondary ">
                                        <div class="offset-md-2 d-flex justify-content-around">
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="card w-100">
                            <div class="row ">
                                <div class="col-md-3 pl-4 pt-3">
                                    <img src="https://1.bp.blogspot.com/-iDGVEtNx_kU/TbBrkXPEg5I/AAAAAAAABOg/g2h127qVA5c/s320/Bas+Rutten.png" class="avatar-user-img" alt="username">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-black">Username</h5>
                                        <span class="card-text text-secondary"><small>United States</small></span><br>
                                        <span class="card-text text-secondary"><small>Desde 12/12/19</small></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body text-grey d-flex justify-content-between">
                                        <a href="" class="text-secondary"><i class="fas fa-pen"></i></a>
                                        <a href="" class="text-secondary"><span><i class="fas fa-times"></i></span></a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card-footer bg-white text-secondary ">
                                        <div class="offset-md-2 d-flex justify-content-around">
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100">
                            <div class="row ">
                                <div class="col-md-3 pl-4 pt-3">
                                    <img src="https://1.bp.blogspot.com/-iDGVEtNx_kU/TbBrkXPEg5I/AAAAAAAABOg/g2h127qVA5c/s320/Bas+Rutten.png" class="avatar-user-img" alt="username">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-black">Username</h5>
                                        <span class="card-text text-secondary"><small>United States</small></span><br>
                                        <span class="card-text text-secondary"><small>Desde 12/12/19</small></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-body text-grey d-flex justify-content-between">
                                        <a href="" class="text-secondary"><i class="fas fa-pen"></i></a>
                                        <a href="" class="text-secondary"><span><i class="fas fa-times"></i></span></a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card-footer bg-white text-secondary ">
                                        <div class="offset-md-2 d-flex justify-content-around">
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                            <a href="" class="text-secondary">
                                                <i class="far fa-envelope"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a href="" class="page-link">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">2<span class="sr-only">(current)</span></span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
